@use '../partials/variables';
@use '../partials/mixins' as *;

.hero-image {
    position: relative;
    display: flex;
    background-image: url(../assets/images/hero-bio.jpg);
    background-position: center;
    background-size: cover;
    height: 12.5rem;
    font-size: 1rem;
    justify-content: center;

    &__wrapper {
        display: flex;
        height: 100%;
        width: 80%;
        padding-right: 130px;
    }
        
    &__title {
        padding-left: 1rem;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    &__opacity{
        height: inherit;
        width: 100%;
        opacity: 50%;
        background-color: #323232;
        position: absolute;
    }
    
    @include tablet{
        height: 25rem;
        font-size: 2rem;
        
    }

    @include desktop{
        height: 35rem;
        
        &__wrapper{
            display: flex;
            height: 100%;
            width: 60%;
        }
    }
}