@use '../partials/variables';
@use '../partials/mixins' as *;

.primary-body {
    margin: 1.5rem 1rem 1rem 1rem;
    line-height: 1.375rem;

    &__title {
        padding-bottom: 0.625rem;
        font-family: variables.$font-bold;
        font-size: 1.5rem;
        display: flex;
        justify-content: center;
    }
    &__band-image{
        object-position: center;
        object-fit: cover;
        height: 12rem;
        width: auto;
        padding-bottom: 1rem;
        display: flex;
        justify-content: center;
        margin: auto;
    }
    &__quote{
        font-family: variables.$font-bold;
        padding-bottom: 1rem;
        

        &--description{
            font-family: variables.$font-bold;
            padding-bottom: 1.2rem;
            display: flex;
            justify-content: center;
            
        }
    }
    &__header{
        font-family: variables.$font-bold;
        padding-bottom: 1rem;
        justify-content: center;
        display: flex;
        
    }
    &__main{
        padding-bottom: 0.5rem;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    @include tablet {
        
        &__title{
            font-size: 2rem;
            margin: 3rem 0 1rem 1rem;
            padding-right: 400px;
        }

        &__band-image{
            height: 20rem;
            width: 36rem;
            display: flex;
            justify-content: center;
            margin: auto;
        }

        &__quote{
            width: 36rem;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            margin: auto;

            &--description{
                padding-left: 5.2rem;
                padding-right: 330px;
            }
        }

        &__header{
            font-size: 1.3rem;
            line-height: 32px;
            padding-left: 5rem;
            padding-top: 1rem;
            padding-right: 515px;
        }

        &__main{
            display: flex;
            flex-direction: row;
            font-size: 0.9rem;
            width: 600px;
            justify-content: center;
            padding-left: 81px;
            padding-right: 81px;
            margin: auto;
            line-height: 1.375rem;
        }
    }

    @include desktop{
        &__title{
            font-size: 2rem;
            margin: 3rem 0 1rem 9rem;
            padding-right: 50rem;
        }

        &__band-image{
            height: 30rem;
            width: 50rem;
            display: flex;
            justify-content: center;
            margin: auto;
        }

        &__quote{
            width: 36rem;
            font-size: 1.2rem;
            display: flex;
            justify-content: center;
            margin: auto;
            padding-top: 1rem;
            padding-right: 13.75rem;

            &--description{
                padding-right: 33rem;
            }
        }

        &__header{
            font-size: 1.3rem;
            line-height: 32px;
            padding-right: 46rem;
            padding-top: 1rem;
        }

        &__main{
            display: flex;
            flex-direction: row;
            font-size: 0.9rem;
            width: 800px;
            justify-content: center;
            padding-right: 80px;
            margin: auto;
            line-height: 1.375rem;
        }
    }
}