@use '../partials/variables';
@use '../partials/mixins' as *;

.active {
    background-color: #E1E1E1;

    &:hover{
        background-color: #E1E1E1;
    }
}
.shows-section{

    &__header-container{
        display: none;
    }
   
    &__container{
        padding: 2rem 1rem 1rem 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.6rem;
        border-bottom: solid 1px #AFAFAF;
    }

    &__date{
        font-family: 'AvenirNext LT Pro Bold'
    }

    &__text {
        font-size: 1.2rem;
    }
    &__title{
        font-family: 'AvenirNext LT Pro Demi';
        font-size: 2rem;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-top: 2rem;
    }
    &__sub-header {
        color: #AFAFAF;
        font-size: 1rem;
        font-family: 'AvenirNext LT Pro Demi';
    }
    &__button {
        background-color: #323232;
        color: white;
        padding-top: 1rem;
        padding-bottom: 2rem;
        font-size: 1rem;
        font-weight: bold;
        height: 2.5rem;
        width: 90%;
        border-radius: 5px;
        margin-top: 1rem;
    }
    @include tablet {
        &__container {
            display: flex;
            width: 900px;
        }

        &__header-container{
            display: flex;
            justify-content: space-between;
            font-size: 0.8rem;
            color: #AFAFAF;
            margin: 0 1rem 0 1rem;
            width: 900px;

            &--date {
                width: 8.375rem;
                margin-left: 1rem;
                align-self: center;
              }
              &--venue {
                width: 8.375rem;
                margin: 0;
                align-self: center;
              }
              &--location {
                width: 8.375rem;
                margin-right: 5rem;
                align-self: center;
              }

              &--button-header {
                visibility: hidden;
                font-size: 0.8125rem;
                width: 160px;
                height: 48px;
                color: white;
                background-color: black;
                border-radius: 0.3125rem;
                border: none;
              }
        }

        &__date {
            width: 8.375rem;
            margin: 0;
        }

        &__venue {
            width: 8.375rem;
            margin: 0;
        }
        
        &__container {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            margin-left: 1rem;
            margin-right: 1rem;

            &:hover{
                background-color: #FAFAFA;
            }
        }

        &__sub-header{
            display: none;
        }
    
        &__title{
            display: flex;
            font-size: 3rem;
            margin-left: 1rem;
            margin-bottom: 1.5rem;
        }
        &__button{
            padding-left: 3rem;
            padding-right: 3rem;
            width: 100%;
        }
    }

    @include desktop {
        display: flex;
        justify-content: space-around;

        &__header-container {
            padding-top: 3rem;
        }
        &__container-all {
            width: 100%;
            margin-left: 10rem;
            margin-right: 5rem;
        }

        &__title-container {
            margin-left: 5rem;
        }
    }
}